<div class="container">
  <h1>
    <a [routerLink]="['/people']" class="btn btn-default btn-lg">
      <i class="material-icons">arrow_back</i>
    </a>
    {{ person.name }}
  </h1>
  <dl class="list">
    <dt>Id</dt>
    <dd>{{ person.id }}</dd>
    <dt>Name</dt>
    <dd>{{ person.name }}</dd>
    <dt>Age</dt>
    <dd>{{ person.age }}</dd>
    <dt>Country</dt>
    <dd>{{ person.country }}</dd>
    <dt>Score</dt>
    <dd>{{ person.score }}</dd>
  </dl>
  <div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/person-edit', person.id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="delete()">DELETE</button>
  </div>
</div>