<div class="container">
  <h1>People List
    <a [routerLink]="['/person-create']" class="btn btn-default btn-lg">
      <i class="material-icons">add_circle</i>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>
          <a [routerLink]="['/person-details', person.id]">{{ person.name }}</a>
        </td>
        <td>{{ person.age }}</td>
        <td>{{ person.country }}</td>
        <td>{{ person.score }}</td>
      </tr>
    </tbody>
  </table>
</div>