<div class="container">
  <h1>
    <a [routerLink]="['/people']" class="btn btn-default btn-lg">
      <i class="material-icons">arrow_back</i>
    </a>
    Add New Person
  </h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="save()" #personForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="person.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Age</label>
          <input type="number" class="form-control" [(ngModel)]="person.age" name="age" required>
        </div>
        <div class="form-group">
          <label for="name">Country</label>
          <input type="text" class="form-control" [(ngModel)]="person.country" name="country" required>
        </div>
        <div class="form-group">
          <label for="name">Score</label>
          <input type="number" class="form-control" [(ngModel)]="person.score" name="score" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>